*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
text-align: center;

}

.container{
    display: flex;
    margin-top:25px;
    border: 1px solid black;
    height: 80px ;
    width: 98vw;
    margin-left: 10px;
   justify-content: space-around;
   align-items: center;
}

.col{
   cursor: pointer;
    height: 60px;
    width: 40px;
    border: 1px solid black;
}

#red{
    background-color: red;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#grey {
    background-color: grey;
}

#green {
    background-color: green;
}

#maroon {
    background-color: maroon;
}

#purple{
    background-color: purple;
}